* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0px 50px 20px 0px;
  background: rgb(255, 255, 255);
  display: flex;
  z-index: 100;
}

#foto {
  margin-left: 70px;
  margin-top: 20px;
}

.logo1 {
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 23px;
  margin-top: 30px;
  padding-top: 5PX;
  margin-left: 16px;
}

.logo {
  font-size: 16px;
  color: rgb(0, 0, 128);
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  width: 150px;
  height: 53px;
  margin-left: 15px;
  margin-top: 2px;
}

.navbar {
  margin-left: 600px;
  margin-top: 40px;
}

.navbar a {
  position: relative;
  font-size: 15px;
  color: black;
  text-decoration: none;
  margin-left: 30px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(0, 0, 0);
  transition: 0.3s;
  margin-top: 3px;
}

.navbar a:hover::before {
  width: 100%;
}

.About-us {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 120vh;
  display: block;
}

.abt {
  margin-top: 200px;
  margin-left: 60px;
  display: inline-block;
  font-family: "Poppins" sans-serif;
  font-weight: 700;
  font-size: 40px;
  display: block;
  text-align: center;
}

.txt {
  margin-top: 30px;
  margin-left: 60px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  display: block;
  color: #686868;
}

button {
  cursor: pointer;
  text-decoration: none;
  border-radius: 40px;
  background-color: #34407C;
  color: white;
  padding: 16px, 40px, 16px, 40px;
  height: 59px;
  width: 239px;
  gap: 10px;
  margin-left: 640px;
  margin-top: 40px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.button1:hover {
  background-color: #080F32;
  transition: 0.4s;
}

#shkolla {
  width: 789px;
  height: 359px;
  display: inline-block;
  border-radius: 16px;
  margin-left: 100px;
  margin-top: 100px;
}

#shkolla2 {
  width: 467px;
  height: 359px;
  display: inline-block;
  border-radius: 16px;
  margin-left: 20px;
}

.second {
  width: 100%;
  height: 668px;
  background-color: #ffffff;
  padding: 120px, 80px, 120px, 80px;
  gap: 120px;
  padding-top: 0px;
  display: flex;
}

.our {
  width: 550px;
  height: 108px;
  font-size: 26px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #080F32;
}

.stats {
  width: 550px;
  height: 354px;
  margin-top: 130px;
  margin-left: 100px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  width: 157px;
  height: 83px;
  position: relative;
}

.circle1 {
  height: 40px;
  width: 40px;
  background-color: #34407C;
  border-radius: 100px;
  opacity: 0.25;
  position: absolute;
}

.numri {
  font-weight: 600;
  font-size: 24px;
  color: #34407C;
  position: absolute;
  top: 23px;
  left: 23px;
}

.p1 {
  font-size: 18px;
  font-weight: 400;
  color: #686868;
  position: absolute;
  top: 55px;
  left: 23px;
}

.box2 {
  width: 157px;
  height: 83px;
  position: relative;
  margin-left: 100px;
}

.circle2 {
  height: 40px;
  width: 40px;
  background-color: #6750A4;
  border-radius: 100px;
  opacity: 0.25;
  position: absolute;
}

.numri2 {
  font-weight: 600;
  font-size: 24px;
  color: #34407C;
  position: absolute;
  top: 23px;
  left: 23px;
}

.p2 {
  font-size: 18px;
  font-weight: 400;
  color: #686868;
  position: absolute;
  top: 55px;
  left: 23px;
}

.box3 {
  width: 157px;
  height: 83px;
  position: relative;
  margin-left: 0px;
}

.circle3 {
  height: 40px;
  width: 40px;
  background-color: #549C3B;
  border-radius: 100px;
  opacity: 0.25;
  position: absolute;
}

.numri3 {
  font-weight: 600;
  font-size: 24px;
  color: #34407C;
  position: absolute;
  top: 23px;
  left: 23px;
}

.p3 {
  font-size: 18px;
  font-weight: 400;
  color: #686868;
  position: absolute;
  top: 55px;
  left: 23px;
}

.box4 {
  width: 157px;
  height: 83px;
  position: relative;
  margin-left: 100px;
}

.circle4 {
  height: 40px;
  width: 40px;
  background-color: #E9702D;
  border-radius: 100px;
  opacity: 0.25;
  position: absolute;
}

.numri4 {
  font-weight: 600;
  font-size: 24px;
  color: #34407C;
  position: absolute;
  top: 23px;
  left: 23px;
}

.p4 {
  font-size: 18px;
  font-weight: 400;
  color: #686868;
  position: absolute;
  top: 55px;
  left: 23px;
}

.benefits {
  width: 610px;
  height: 428px;
  background-color: rgb(255, 255, 255);
  margin-top: 130px;
  padding-top: 9px;
}

.t1 {
  width: 550px;
  height: 116px;
}

.nr1 {
  width: 27px;
  height: 27px;
  font-weight: 500;
  font-size: 18px;
  color: #131B43;
  display: inline-block;
}

.text1 {
  width: 507px;
  height: 27px;
  font-weight: 600;
  font-size: 18px;
  color: #080F32;
  display: inline-block;
  margin-left: 11px;
}

.txt1 {
  font-size: 18px;
  color: #686868;
  margin-left: 45px;
  font-weight: 400;
  margin-top: 6px;
}

.t2 {
  width: 550px;
  height: 116px;
  margin-top: 40px;
}

.nr2 {
  width: 27px;
  height: 27px;
  font-weight: 500;
  font-size: 18px;
  color: #131B43;
  display: inline-block;
}

.text2 {
  width: 507px;
  height: 27px;
  font-weight: 600;
  font-size: 18px;
  color: #080F32;
  display: inline-block;
  margin-left: 11px;
}

.txt2 {
  font-size: 18px;
  color: #686868;
  margin-left: 45px;
  font-weight: 400;
  margin-top: 6px;
}

.t3 {
  width: 550px;
  height: 116px;
  margin-top: 40px;
}

.nr3 {
  width: 27px;
  height: 27px;
  font-weight: 500;
  font-size: 18px;
  color: #131B43;
  display: inline-block;
}

.text3 {
  width: 507px;
  height: 27px;
  font-weight: 600;
  font-size: 18px;
  color: #080F32;
  display: inline-block;
  margin-left: 11px;
}

.txt3 {
  font-size: 18px;
  color: #686868;
  margin-left: 45px;
  font-weight: 400;
  margin-top: 6px;
}

.our-history {
  width: 100%;
  height: 668px;
  background-color: #ffffff;
  display: flex;
}

.history {
  width: 600px;
  height: 395px;
  margin-left: 100px;
  margin-top: 230px;

}

.h1 {
  width: 182px;
  height: 48px;
  font-weight: 600;
  font-size: 32px;
  color: #080F32;
}

.h2 {
  width: 580px;
  height: 54px;
  font-weight: 500;
  font-size: 18px;
  color: #131B43;
  margin-top: 20px;
}

.h3 {
  color: #686868;
  width: 580px;
  height: 108px;
  margin-top: 20px;
  font-size: 18px;
}

.h4,
.h5,
.h6 {
  font-size: 18px;
  font-weight: 400;
  color: #080F32;
  margin-top: 10px;
}

.tick {
  display: inline-block;
  color: #E9702D;
  font-weight: 900;
  margin-right: 20px;
  font-size: 20px;
}

#photo {
  width: 640px;
  height: 477px;
  border-radius: 16px;
  margin-top: 150px;
  margin-left: 50px;
}

.pht {
  display: inline-block;
}

.our-objective {
  width: 100%;
  height: 717px;
  display: flex;
}

#photo2 {
  width: 640px;
  height: 477px;
  border-radius: 16px;
  margin-top: 240px;
  margin-left: 80px;
}

.objective {
  width: 580px;
  height: 395px;
  margin-top: 280px;
  margin-left: 50px;
}

.titull {
  font-size: 32px;
  color: #080F32;
  font-weight: 600;
}

.lorem {
  margin-top: 30px;
  color: #131B43;
  font-weight: 600;
}

.lorem2 {
  margin-top: 30px;
  color: #686868;
  margin-bottom: 30px;
}

.m1,
.m2,
.m3 {
  font-size: 18px;
  color: #080F32;
  margin-top: 10px;
}

.tick2 {
  display: inline-block;
  color: #549C3B;
  font-weight: 900;
  margin-right: 20px;
  font-size: 20px;
}